.a{
    margin-top: 20px;
    border-top: 2px solid black;
    padding: 5px;
}

.b{
    border: 1px solid black;
    border-radius: 5px;
    background-color: darkslateblue;
    color: aqua;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.b div{
    text-align: center;
}

.c{
    margin-top:5px;
}

.botao{
    background-color: aqua;
    color:blueviolet;
    border: 1px solid black;
    border-radius: 5px;
}

.botao:hover{
    background-color: blueviolet;
    color: aqua;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.livro{
    background-color: darkslateblue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.esp{
    padding-left: 6px;
}

.opcoes{
    text-align: right;
}

.opcoes span{
    border: 1px solid blue;
    border-radius: 2px;
    background-color: aqua;
}

.opcoes span:hover{
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    margin: 5px;
    background-color: blueviolet;
}

input{
    background-color: aqua;
    color: blueviolet
}

select{
    background-color: aqua;
}